<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Properties>
		<Property name="log-path">logs</Property>
	</Properties>

	<Appenders>
		<RollingFile name="file-log" fileName="${log-path}/info.log"
			filePattern="${log-path}/info-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>

		<Console name="console" target="SYSTEM_ERR">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>
		<!--
		<SMTP smtpPort="25" subject="Error Log" to="johnshub99@gmail.com"
			from="logger@espenhahn.org" smtpHost="aspmx.l.google.com" bufferSize="50"
			name="smtp">
			<PatternLayout>
				<pattern>[%-5level] [%t] %c{1} - %msg%n</pattern>
			</PatternLayout>
		</SMTP>
		-->
	</Appenders>
	<Loggers>
		<Root level="debug" additivity="false">
			<appender-ref ref="file-log" level="info"></appender-ref>
			<appender-ref ref="console"></appender-ref>
			<appender-ref ref="smtp" level="error"></appender-ref>
		</Root>
	</Loggers>
</Configuration>
